*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
  
}
.ul:hover {
    text-decoration: wavy;
      color: white;
  }
.head{
    background-image: url('https://media.istockphoto.com/photos/fashionable-beautiful-big-red-handbag-picture-id493827882?k=20&m=493827882&s=612x612&w=0&h=evmSY3Rdrfn1IMgJOpWvrBwxudptSuI17e3ba3XdbzY=');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 95vh;
    background-position: center;
    position: relative;
    background-size: cover;
    color: pink;
    position: relative;
    font-weight: bolder;
    
}
ul{
    text-align: center;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding-top: 35px;
    font-size: larger;
    font-weight: bold;
    list-style-type: none;
    position: sticky;
    top: 0;
  }
    

#home p{
    text-align: left;
    padding-top: -6px;
    margin-left: 100px;
    font-size: larger;
    font-weight: bold;
    color: white;
  }
  #home h1{
    color: rgb(246, 244, 246);
    text-align: center;
    padding-top: 105px;
    font-size: xx-large;
    font-weight: bolder;
    float: right;
  margin-right: 535px;}
    button{
        border-radius: 250px;
        margin-left: 100px;
        height: 40px;
        width: 150px;
        text-align: center;
        background-color: pink;
        color: white;
        font-weight: bold;
      
      }
      .head>h1{
        margin: 50px;
      }
      #logo{
        font-weight: bolder;
        font-size: xx-large;
        color: pink;
      }
    
      button{
        border-radius: 250px;
        margin-left: 5px;
        height: 40px;
        width: 150px;
        text-align: center;
        background-color: pink;
        color: white;
        font-weight: bold;
      
      }
      .About-us{
        text-align: center;
        color: purple;
        font-size: x-large;
        font-weight: bolder;
      }
      #products{
        box-sizing: border-box;
        height: 570px;
        width: 100%;
        background-color: whitesmoke;
      
        padding-top: 35px;
        
      }
      #products h1{
        text-align: center;
        color: black;
        font-style: italic;
       
      }

.w3-content{
    margin-left: 75px;
    position: relative;
    margin-top: 20px;
    
  }
  .mySlides{
    border-radius: 25px;

  }
 
  
  .words{
   float: right;
   font-style: italic;
   font-weight: bold;
   font-size: large;
   margin-top: -320px;
   position: relative;
   margin-right: 105px;
   padding: 20px;
   margin-right: 20px;
 

  }

.motto{
  text-align: center;
  font-style: italic;
  font-size: large;
  font-weight: bolder;
  float: right;
  margin-right: 300px;
  
  
}
span{
  color:yellow;
  font-size: x-large;
  font-weight: bolder;
  float: right;
  margin-right: 75px;
  margin-top: -75px;
}

.motto>p{
  
  font-family: 'Rubik Distressed', cursive;
font-family: 'Space Grotesk', sans-serif;
  font-weight: bolder;
  font-size: xx-large;
  font-family: 'Space Grotesk', sans-serif;
}
#home1{
  margin-left: 175px;
  font-weight: bolder;
  font-size: xx-large;
  
}